h1 {
    background-color: black;
    color: white;
    border-color: red;
    border-style: solid;
    border-width: 5px;
}

p {
    text-align: center;
    background-color: gray;
    border: red solid 2px;
}

button {
    background-color: black;
    color: white;
    border-color: brown;
}

#blinkedin {
    background-color: blue;
}

#bgithub {
    background-color: ;
}

#botao1 {
    margin: 150px 60px;
    width: 150px;
    weight: 60px;
}

#botao21 {
    background-color: pink;
    color: black;  
}

.arredondado { 
    width: 150px;
    weight: 60px;
    border-radius: 20px;
}

img {
    width: 200px;
    border-radius: 50%;
}
